* {
  box-sizing: border-box;
}

body {
  padding: 40px;
}

.container {
  margin: 0 auto;
  max-width: 480px;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 640px) {
  .container {
    display: block;
  }
}

.board {
  margin-bottom: 20px;
}

.cell {
  width: 20px;
  height: 20px;
}

.PaletteColor {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.availableColors {
  display: flex;
  margin-top: 20px;
}